{% extends "base.html" %}
{% load static %}
{% block title %}
	{{ flatpage.title }}
{% endblock %}
{% block libs %}
	{{ block.super }}
{% endblock %}
{% block menu %}
	
    <div class="subpages-nav">
      <nav>
        <ul class="menu">
         <li class="li-none"><a href="{{ first_item }}">Главная</a></li>
          <li><a href="{{ second_item }}">Фото</a></li>
		  <li class = "current"><a href="{{ third_item }}">Цены</a></li>
          <li class="li-left li-none"><a href="{{ forth_item }}">Отзывы</a></li>
          <li><a  href="{{ five_item }}" class="moveup" >Вопрос<br>ответ</a></li>
          <li><a href="{{ six_item }}">Контакты</a></li>
        </ul>
        <h1><a class="modalbox" href="#inline"><img src="{% static 'images/logo.png' %}" alt="Татуаж логотип"></a></h1>
      </nav>
    </div>
	
{% endblock %}
{% block content %}		 
<!--==============================content================================-->
<section id="content">
  <div class="pad-1">
    <div class="page5-row1">
      <div class="col-11">
        <h2 class="h2 p2">Цены:</h2>
		<h3><center>ПЕРМАНЕНТНЫЙ МАКИЯЖ ГУБ:<center><h3>
		<table>
		<tr><td width="500" style="text-align: right;">Контур губ с частичной растушевкой  &nbsp;</td><td width="500" style="text-align: left;">&nbsp; 500 грн.</td></tr>		
		<tr><td width="500" style="text-align: right;">Контур губ с полной растушевкой &nbsp;</td><td width="500" style="text-align: left;">&nbsp; 500 грн.</td></tr>		
			
		</table>
		<br>
		
		<h3><center>ПЕРМАНЕНТНЫЙ МАКИЯЖ ГЛАЗ:<center><h3>
		<table>
		<tr><td width="500" style="text-align: right;">Растушевка теней &nbsp;</td><td width="500" style="text-align: left;">&nbsp; 500 грн.</td></tr>		
		<tr><td width="500" style="text-align: right;">Классические стрелки &nbsp;</td><td width="500" style="text-align: left;">&nbsp; 500 грн.</td></tr>
		</table>
		<br>
		
		<h3><center>ПЕРМАНЕНТНЫЙ МАКИЯЖ БРОВЕЙ:<center><h3>
		<table>		
		<tr><td width="500" style="text-align: right;">Брови &nbsp;</td><td width="500" style="text-align: left;">&nbsp; 500 грн.</td></tr>
		<tr><td width="500" style="text-align: right;">Брови(волосковый эффект) &nbsp;</td><td width="500" style="text-align: left;">&nbsp; 600 грн.</td></tr>		
		</table>
		
		<br>
		<h3><center>КОРРЕКЦИЯ:<center><h3>
		<table>
		<tr><td width="500" style="text-align: right;">Коррекция моего П.М. (в течении года) &nbsp;</td><td width="500" style="text-align: left;">&nbsp; 200 грн.</td></tr>
		<tr><td width="500" style="text-align: right;">Коррекция работ др.мастеров &nbsp;</td><td width="500" style="text-align: left;">&nbsp; 500 грн. и выше</td></tr>		
		</table>
	<br><br>
	<h6>Все цены указаны с учётом текущих акций.<br>
	Телефон для записи: +38 (097) 916 3480</h6>
	</div>
    </div>
  </div>
</section>
{% endblock %}