{% extends "base.html" %}

{% load static %}

{% block title %}
	{{ flatpage.title }}
{% endblock %}
{% block libs %}
	{{ block.super }}
{% endblock %}
{% block menu %}
    <div class="subpages-nav">
      <nav>
        <ul class="menu">
         <li class="li-none"><a href="{{ first_item }}">Главная</a></li>
         <li><a href="{{ second_item }}">Фото</a></li>
		  <li><a href="{{ third_item }}">Цены</a></li>
          <li class="li-left li-none"><a href="{{ forth_item }}">Отзывы</a></li>
          <li class="current"><a class="moveup" href="{{ five_item }}"  >Вопрос<br>ответ</a></li>
          <li><a href="{{ six_item }}">Контакты</a></li>
        </ul>
        <h1><a class="modalbox" href="#inline"><img src="{% static 'images/logo.png' %}" alt="Таутаж логотип"></a></h1>
      </nav>
    </div>
{% endblock %}
{% block content %}
<!--==============================content================================-->
<section id="content">
  <div class="pad-1">
    <div class="page4-row1">
      <div class="col-11">
       
	   <h2 class="h2 p2">Вопрос - ответ:</h2>
	   
	   {{ flatpage.content }}
        
        <div class="wrap bot-2"> 
          <div class="extra-wrap">
				<p><h3>Где проводите процедуру? Какой у вас опыт? </h3><br>
				<strong class="upper">- Проводятся процедуры в личном кабинете, при медицинском центре.<br> Опыт работы 3 года.</strong><br>
				</p>
          </div>
        </div>
		
		<div class="wrap bot-2"> 
			<div class="extra-wrap">
				<p><h3>Скажите пожалуйста цену на татуаж и где вы находитесь?</h3><br>
				<strong class="upper">- Цены на процедуры находятся по <a href="/ceni.html">ссылке</a>.
				<br>Мы находимся по адресу г. Киев, ул. Гарматная 47(м. Политехнический институт, м. Шулявка)</strong><br>
				</p>
          </div>
        </div>
		
        <div class="wrap">
          <div class="extra-wrap">
				<p><h3>Сколько держится татуаж?</h3><br>
				<strong class="upper">- Татуаж держится от 1.5 до 3 лет</strong><br>
				</p>
			</div>
        </div>

      
	  </div>
    </div>
  </div>
</section>
{% endblock %}