{% extends "base.html" %}
{% load static %}
{% block title %}
	{{ post.title }}
{% endblock %}

{% block libs %}
	{{ block.super }}
	<style>
		#feedback {
			color: #1c6107;
		}
		#feedback ul {
			padding-left: 0;
		}
		#feedback ul li {
			list-style: none;
		}
	</style>
{% endblock %}

{% block menu %}
	{{ block.super }}
{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
<section class="main__middle__container">
  <section class="recent-posts">
    <div class="container">
      <h2 class="text-center"><span>{{ post.title }}</span></h2>	  
			
			<h3>{{ post.title }}</h3>
			<p>{{ post.datetime }}</p>
			<p>{{ post.content }}</p>
			
    </div>
  </section>
</section>
{% endblock %}

{% block add_libs %}
	{{ block.super }}
{% endblock %}
