{% extends "base.html" %}

{% load static %}
{% load thumbnail %}

{% block title %}
	Татуаж в Киеве - Фото татуаж бровей
{% endblock %}
{% block libs %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/skin-2.css' %}">
	<link rel="stylesheet" href="{% static 'css/hover-effects.css' %}" type="text/css" media="screen"/>
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/tabs.css' %}">
	<script src="{% static 'js/tabs.js' %}"></script>
	
	<!-- jQuery <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>-->
	<!-- Make IE8 and below responsive by adding CSS3 MediaQuery support -->
	<!--[if lt IE 9]>	  
		<script type='text/javascript' src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js'></script> 
	<![endif]-->
	<!-- Fresco -->
	<script type="text/javascript" src="{% static 'js/fresco/fresco.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/fresco/fresco.css' %}" />
	<!-- Fresco -->
{% endblock %}
{% block menu %}
	<div class="subpages-nav">
		<nav>
		  <ul class="menu">
			  <li class="li-none"><a href="{{ first_item }}">Главная</a></li>
			  <li class="current"><a href="{{ second_item }}">Фото</a></li>
			  <li><a href="{{ third_item }}">Цены</a></li>
			  <li class="li-left li-none"><a href="{{ forth_item }}">Отзывы</a></li>
			  <li><a  href="{{ five_item }}" class="moveup" >Вопрос<br>ответ</a></li>
			  <li><a href="{{ six_item }}">Контакты</a></li>
		  </ul>
        <h1><a class="modalbox" href="#inline"><img src="{% static 'images/logo.png' %}" alt="Logo for tatuazh web site"></a></h1>
		</nav>
	</div>
{% endblock %}
{% block content %}		  
<!--==============================content================================-->
<section id="content">
  <div class="page3-row1 pad-2 tabs">
    <div class="col-8">
      <h2 class="h2 p2">Категории:</h2>
	   <ul class="list-1">
	   <li><a href="/foto/foto-brovi/">Татуаж бровей</a></li>
	   <li><a href="/foto/foto-tatuazh-gub/">Татуаж губ</a></li>
	   <li><a href="/foto/foto-tatuazh-glaz/">Татуаж глаз</a></li>      
	   </ul>
    </div>
	<div class="col-9">
      <h3 class="h3-2">Татуаж бровей:</h3>
			<div class='demonstrations'>
				<div id="block-1" class="active">	
					 		{% for foto in fotos %}																	
							<div class="view effect">
								 {% thumbnail foto.image_location "300x200" crop="50%" as small_foto %}
								 <img src="{{ small_foto.url }}" width="{{ small_foto.width }}" height="{{ small_foto.height }}" alt = "{{ foto.comment }}">
								 {% endthumbnail %}
								 <div class="mask"></div>
								 <div class="content">
								 
								 <a href="{{ foto.image_location.url }}"								 
										 class='fresco info' 
										 data-fresco-group='example' 
										 data-fresco-caption="{{ foto.comment }}">
								  </a>
								 
								</div>
							</div>
							{% endfor %}
					  
					  <!--
					  {% for foto in fotos %}
					  <div class="view effect">
						 <img src="{{  foto.image_location.url }}">
						 <div class="mask"></div>
						 <div class="content">
						 <a href="{{  foto.image_location.url }}" 						  
								 class='fresco info' 
								 data-fresco-group='example' 
								 data-fresco-caption="{{ foto.comment }}">
							  </a>
						</div>
					  </div>
					  {% endfor %}	-->
			</div>
	</div>
  </div>
</section>
{% endblock %}