{% extends "base.html" %}
{% load static %}
{% block title %}
	{{ flatpage.title }}
{% endblock %}

{% block libs %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes.css' %}">
	</style>
{% endblock %}

{% block menu %}
	{{ block.super }}
{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
<section class="main__middle__container">
  <section class="recent-posts">
    <div class="container">
      <h2 class="text-center"><span>Вопрос ответ</span></h2>
		{{ flatpage.content }}
		
      <!-- DC Toggle 2 Start -->
		  <div class="dc_toggle_container" style="width:98%;"> + <a href="#" class="toggleCollapse" rel="style2" onclick="return false;">expand all</a><br>
			<br>
			<div class="dc_toggle style2 dc_hide">
			  <div><a href="" class="dc_toggle_link">Зачем нужен татуаж?</a></div>
			  <div style="display: none;" class="dc_toggle_box">The human brain has the capacity to store everything that you experience.</div>
			</div>
			<div class="dc_toggle style2 dc_hide">
			  <div><a href="" class="dc_toggle_link">Как долго держиться татуаж?</a></div>
			  <div style="display: none;" class="dc_toggle_box">If your DNA was stretched out it would reach to the moon 6,000 times.</div>
			</div>
			<div class="dc_toggle style2 dc_hide">
			  <div><a href="" class="dc_toggle_link">На сколько больно делать татуаж?</a></div>
			  <div style="display: none;" class="dc_toggle_box">The brain can stay alive for 4 to 6 minutes without oxygen. After that cells begin die.</div>
			</div>
		  </div>	  
    </div>
  </section>
</section>
{% endblock %}

{% block add_libs %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/dc_accordion_toggle.js' %}"></script>
{% endblock %}