{% extends "base.html" %}
{% load static %}
{% block title %}
	{{ flatpage.title }}
{% endblock %}

{% block libs %}
	{{ block.super }}
	<style>
		#feedback {
			color: #1c6107;
		}
		#feedback ul {
			padding-left: 0;
		}
		#feedback ul li {
			list-style: none;
		}
	</style>
{% endblock %}

{% block menu %}
	{{ block.super }}
{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
<section class="main__middle__container">
  <section class="recent-posts">
    <div class="container">
      <h2 class="text-center"><span>Цены</span></h2>
		{{ flatpage.content }}
    </div>
  </section>
</section>
{% endblock %}

{% block add_libs %}
	{{ block.super }}
{% endblock %}